$primary-color: #007af3;

$body-background-color: #f2f2f2;
$nav-background-color: #ffffff;
$feature-background-color: #20272e;

$testimonial-card-background: #006bd6;

$sub-heading-color: #808080;
