@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: $body-background-color;
}

.navbar {
    background: $nav-background-color;
    padding: 12px;

    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            text-decoration: none;
            font-weight: 600;
            color: #000000;
            cursor: pointer;

            span {
                color: $primary-color;
            }
        }

        .mobile-nav {
            width: 75%;
            height: 100vh;
            position: fixed;
            right: -75%;
            top: 0;
            z-index: 999;
            background: $feature-background-color;
            color: #ffffff;
            padding: 2.5em;
            transition: 350ms;

            .mobile-menu-exit {
                position: absolute;
                top: 12px;
                left: 12px;
                cursor: pointer;
            }

            ul {
                list-style: none;

                li {
                    margin: 5px 0;
                    a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .mobile-menu-open {
        cursor: pointer;
    }
}

.hero {
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5em 2em;
        text-align: center;

        .left-column {
            p {
                text-transform: uppercase;
                font-weight: 600;
                color: $sub-heading-color;
                letter-spacing: 0.2em;
            }

            h1 {
                font-size: 2.5em;
                line-height: 1.3em;
                font-weight: 600;
                margin-top: 0.2em;
            }

            .hero-cta {
                .primary-cta {
                    margin-top: 0.5em;
                    padding: 0.5em 1.2em;
                    text-decoration: none;
                    font-size: 1.5em;
                    font-weight: 600;
                    color: #ffffff;
                    background: $primary-color;
                    display: inline-block;
                    border-radius: 5em;
                }

                .secondary-cta {
                    display: block;
                    margin-top: 1em;
                    margin-left: 35px;
                    color: #000000;
                    text-decoration: none;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        margin-left: -35px;
                        background-image: url('../images//watch.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 24px;
                        height: 15px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .right-column {
            img {
                width: 70%;
                margin-top: 3em;
            }
        }
    }
}

.features {
    width: 100%;
    background: $feature-background-color;
    color: #ffffff;

    .container {
        padding: 5em 2em;
        justify-content: center;
        align-items: center;

        .features-list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

            li {
                padding-left: 3em;
                margin-bottom: 1em;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 1.5em;
                    height: 1.5em;
                    background: url('../images/bullet.svg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    left: 0.5em;
                }
            }
        }
        .feature-image {
            display: none;
        }
    }
}

.testimonial {
    width: 100%;
    background: $primary-color;
    color: #ffffff;

    .container {
        width: 100%;
        padding: 5em 2em;

        .testimonial-list {
            .card {
                background: $testimonial-card-background;
                text-align: center;
                padding: 2em;
                border-radius: 1em;
                margin: 0 auto 5em auto;

                .speaker {
                    width: 5em;
                    height: 5em;
                    border: 10px solid $testimonial-card-background;
                    border-radius: 50%;
                    margin-top: -4em;
                }

                blockquote {
                    margin-bottom: 3em;
                }
            }
        }
    }

    li {
        background: $testimonial-card-background;
    }
}

.contact {
    width: 100%;

    .container {
        padding: 5em 2em;

        .left-column {
            h2 {
                font-size: 2em;
                margin-bottom: 2em;
            }

            label {
                display: block;
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.8em;
                margin-bottom: 1em;
                border-radius: 0.3em;
                border: 1px solid gray;
            }

            .submit-button {
                background: $testimonial-card-background;
                font-size: 1em;
                color: #ffffff;
                outline: 0;
                border: none;
                cursor: pointer;
            }
        }

        .right-column {
            margin-top: 3em;
            iframe {
                width: 100%;
                height: 450px;
            }
        }
    }
}

footer {
    width: 100%;

    p {
        text-align: center;
    }
}

// For tablet devices

@media only screen and (min-width: 768px) {
    .navbar {
        width: 100%;

        .container {
            .mobile-menu-open {
                display: none;
            }

            .mobile-nav {
                display: flex;
                justify-content: space-between;
                position: static;
                right: 0;
                width: 85%;
                height: auto;
                padding: 0;
                background: #ffffff;
                color: #000000;

                .mobile-menu-exit {
                    display: none;
                }

                .primary-nav {
                    display: flex;

                    li {
                        margin: 0;

                        a {
                            font-weight: 500;
                            color: #000000;
                            padding: 0 1em;
                        }
                    }
                }

                .secondary-nav {
                    display: flex;

                    li {
                        margin: 0;

                        a {
                            font-weight: 500;
                            color: #000000;
                            padding: 0 1em;
                        }
                    }

                    .go-premium-button {
                        a {
                            padding: 0.3em 1em;
                            color: $testimonial-card-background;
                            border: 2px solid $testimonial-card-background;
                            border-radius: 5em;
                            font-weight: 600;
                            transition: 350ms;

                            &:hover {
                                background: $testimonial-card-background;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonial {
        .container {
            width: 70%;
            padding: 5em 2em;
        }
    }

    .contact {
        .container {
            width: 70%;
            margin: 0 auto;
        }
    }
}

// For desktops

@media only screen and (min-width: 1024px) {
    .navbar {
        width: 100%;
        height: 10vh;

        .container {
            width: 100%;
            padding: 0.5em 3em;
        }
    }

    .hero {
        width: 100%;
        height: 90vh;

        .container {
            width: 100%;
            padding: 5em 3em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .left-column {
                text-align: left;
            }
        }
    }

    .features {
        width: 100%;

        .container {
            width: 100%;
            padding: 5em 3em;
        }
    }

    .testimonial {
        .container {
            width: 85%;
            padding: 5em 3em;

            .testimonial-list {
                .card {
                    max-width: 350px;
                }
            }
        }
    }

    .contact {
        .container {
            width: 100%;
            padding: 5em 3em;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left-column {
                width: 45%;
            }

            .right-column {
                width: 45%;
            }
        }
    }
}
